html, body, h1, h2, h3, h4, h5, ul, ol, li, p, a, figure {
	margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
form input {
  width: 100%;
  padding: 8px;
  border-radius: 2px;
  margin-bottom: 5px;
}
html, body, main {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

div {
  width: 100%;
  padding: 100px;
}

.one {
  background: thistle;
}

.two {
  background: mistyrose;
}

.three {
  background: coral;
}
