html, body, h1, h2, h3, h4, h5, ul, ol, li, p, a, figure {
	margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
form input {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    margin-bottom: 5px;
}
.hl {
    background: #f9e653;
}
html, body, main {
    height: 100%;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}
.chkboxes__list {
    display: flex;
    flex-direction: column;
}
.chkboxes__list li {
    border: 1px solid #bebebe;
    border-bottom: none;
}
.chkboxes__list li:last-child {
    border-bottom: 1px solid #bebebe;
}
.chkboxes__list li input[type="checkbox"] {
    margin: 10px;
}
.chkboxes__list li label {
    padding-right: 10px;
}
